<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting"> 
        こんにちは、
        <%= link_to current_user.name + "さん", user_path(id: current_user.id), class: :greeting__link%>
       </div> 

      <% end %>
    <div class="card__wrapper">
<%= render partial: "prototype", collection: @prototypes %>    </div>
  </div>
</main>
